body {
    background: #f5f7fa;
    font-family: "Montserrat", sans-serif;
}

.prawastrona {
    margin-left: auto;
    margin-right: auto;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 95vw;
    justify-content: center;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

ul {
list-style-position: outside;
margin-left: 5%;
}

.main-description {
    margin-bottom: 50px;
}

.job-title {
    font-weight: 700;
    line-height: 17px;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.candidate-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    text-align: justify;
}

.projects {
    margin-bottom: 40px;
}

.list-primary {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    padding-left: 0px;
}

.list-primary-item {
    font-size: 15px;
    line-height: 24px;
    color: #595959;
}

.header-primary {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}
.work-experience {
    width: auto;
    margin-bottom: 40px;
}

.job-name {
    font-size: 16px;
    line-height: 20px;
}
.highlight {
    color: #fb6d3a;
}

.job-date {
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

.curiosity {
    color: white;
    font-size: 15px;
}

.job-list {
    font-size: 15px;
    line-height: 24px;
    color: #595959;
    padding-left: 0px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

aside {
    width: 40%;
    background: #1e2939;
}

.placing {
    margin-left: 5%;
}
.cv-photo {
    margin-top: 25px;
    width: 100%;
}
.header-secondary {
    color: white;
}
.contact-links {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    word-wrap: anywhere;
}

.links {
    color: white;
}

.clickfont {
    color: white;
    font-size: 15px;
}

.bold {
    font-weight: 700;
    color: #fb6d3a;
}

.list-secondary {
    color: #fb6d3a;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0px;
}

.list-secondary-item {
    color: white;
}

main {
    padding-left: 88px;
    padding-top: 102px;
    padding-bottom: 102px;
    padding-right: 88px;
    width: 60%;
}
